<!doctype html>
<html>
<head>
  <title>MADLIBS!</title>
</head>
<body>
    <h1>Let's play!</h1>
<form action="/madlib">
    Person: <input type="text" name="person"><br>
    Color: <input type="text" name="color"><br>
    Noun: <input type="text" name="noun"><br>
    Food Type: 
        <select name="foodtype">
            <option value="stew">stew</option>
            <option value="rice">rice</option>
            <option value="noodles">noodles</option>
            <option value="curry">curry</option>
            <option value="fries">fries</option>
            <option value="japchae">japchae</option>
        </select></br>
    Adjective: <input type="text" name="adjective"><br>
    Place:
    <input type="checkbox" name="places" value="floor">floor
    <input type="checkbox" name="places" value="counter">counter
    <input type="checkbox" name="places" value="chair">chair<br>
    <input type="submit">
</form>
</body>
</html>